<h1>distance:<%= distance %></h1><br>
<h1>travel time:<%= travel_time %></h1>
<h1>lat of source:<%= slat %></h1>
<h1>long of source:<%= slong %></h1>
<h1>lat of destination:<%= dlat %></h1>
<h1>long of destination:<%= dlong %></h1>