doctype html
html
    head
        title Chicago Cabs

    //body
    //    h1  #{title}
    //block content
    //    h1= title
    //    p Welcome to #{title}
    //
    //    div
    //        table.table.table-hover
    //            thead
    //                tr: th Users
    //            tbody
    //                each user in ride_history
    //                    tr
    //                        td userID : #{user.user_id}
    //                        //user.taxi_id
    //                        //user.company
    //

body
    h1  #{title}
    block content
        each thing in ride_history
            p  !{thing}
